$color-darkgray: #2c3e50;
$color-lgreen: #e4fde1;
$color-green: #8acb88;
$color-lgray: #a0a9a8;
$color-gray: #648381;
$color-purple: #575761;
$color-yellow: #ffbf46;
$color-white: #ffffff;

span.button {
    color: $color-white;
    background-color: $color-darkgray;
    padding: 0.3rem;
    border-radius: 0.2rem;
    cursor: pointer;

    &.button-inverse {
        background-color: $color-lgreen;
        color: $color-darkgray;
    }

    &.button-secondary {
        background-color: $color-green;
        color: $color-darkgray;
    }
    &.button-selected {
        opacity: 0.4;
    }
}