@import '~materialize-css/sass/materialize.scss';

nav {
  @extend .cyan, .darken-3;
  .nav-wrapper {
    .brand-logo {
      font-size: 1.5rem;
      padding-left: 20px;
    }
  }
}

#main {
  svg {
    border: 1px solid black;
    width: 100%;
    height: 500px;

  }
}

