@import '~materialize-css/sass/materialize.scss';

nav {
  @extend .cyan, .darken-3;
  .nav-wrapper {
    .brand-logo {
      font-size: 1.5rem;
      padding-left: 20px;
    }
  }
}

#main {
  svg {
    .bar {
      fill: steelblue;
    }
    .mtype {
      fill: #FFFFFF;

      &.mtype-odd {
        fill: #F5F5F5;
      }
    }
    .mtype-text {
      cursor: pointer;
    }

  }
}

#controls-flanking {
  [type="radio"]:not(:checked) + span, [type="radio"]:checked + span {
    padding-left: 9px;
    padding-top: 15px;
    font-size: 12px;
  }
  p {
    margin-top: 0;
  }
}

